h1{
    font-family: Georgia, 'Times', 'Times New Roman', 'Serif';
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    border-bottom: 3px solid #ddd;
    padding-bottom: 20px;
    text-align: center;
}

body{
    font-size: 20px;
    line-height: 35px;
    font-family: 'Arial', Helvetica, sans-serif;
    background-color: darkcyan;
}

p{
    font-size: 30px;
    font-style: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 10px;
    padding-top: 50px;
}